/* code reference from https://stackoverflow.com/questions/12991164/maintaining-the-final-state-at-end-of-a-css-animation */

/* Slide In From Left Animation */
.slide-in-left {
    animation-name: slideInLeft;
    animation-duration: 1s;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Slide In From Right Animation */
.slide-in-right {
    animation-name: slideInRight;
    animation-duration: 1s;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}







